on:
  push:
  workflow_dispatch:
    inputs:
      update-dist:
        description: 'Update dist (run ncc build and commit if changed)'
        required: false
        default: 'false'
        type: boolean

permissions:
  contents: write

jobs:
  do_while_not_queued:
    runs-on: ubuntu-latest
    name: do-while-not-queued
    steps:
      - name: Run Major
        uses: boxofyellow/do-while-not-queued@v2 # MAJOR_VERSION_TAG
        with:
          command-line: 'echo'
          args: 'hello-world'
          workflow: ${{ github.WORKFLOW }}
          max-runs: 3
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Full Version
        uses: boxofyellow/do-while-not-queued@v2.0.36 # FULL_VERSION_TAG
        with:
          command-line: 'echo'
          args: 'hello-world'
          workflow: ${{ github.WORKFLOW }}
          max-runs: 3
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # To use a local copy of this repository's action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v6

      # Get ready to rebuilt dist
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install dependencies, ncc and build
        run: |
          npm install
          npm i -g @vercel/ncc
          ncc build index.js --license licenses.txt

      - name: Check for changes
        id: git-check
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git status --porcelain
          echo "changed=$(git status --porcelain | wc -l)" >> $GITHUB_OUTPUT

      - name: Log github.ref
        run: echo '${{ github.ref }}'

      # If there are changes, and this is either a dependabot PR or the update-dist input is true, commit and push the changes
      - name: Commit and push changes
        if: ${{ steps.git-check.outputs.changed != '0' && (github.event.inputs.update-dist == 'true' || startsWith(github.ref, 'refs/heads/dependabot/')) }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore: update dist after ncc build"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Fail if dist is not up to date, and we are not committing changes
        if: ${{ steps.git-check.outputs.changed != '0' && !(startsWith(github.ref, 'refs/heads/dependabot/')) && github.event.inputs.update-dist != 'true' }}
        run: |
          echo "dist is not up to date. Please run the build and commit the changes. If you want to update the dist, please set the update-dist input to true or create a dependabot PR."
          exit 1

      - name: do-while-not-queued step
        uses: ./ # Uses an action in the root directory
        with:
          command-line: 'pwsh'
          args: '-command;Start-Sleep -Seconds 2'
          workflow: ${{ github.WORKFLOW }}
          max-Runs: 7
          max-time-seconds: 10
          detail-level: 2
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
