on: [push]

jobs:
  do_while_not_queued:
    runs-on: ubuntu-latest
    name: do-while-not-queued
    steps:
      - name: Run v1
        uses: boxofyellow/do-while-not-queued@v1.0.4-beta
        with:
          command-line: 'echo'
          args: 'hello-world'
          workflow: ${{ github.WORKFLOW }}
          max-runs: 3

      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: do-while-not-queued step
        uses: ./ # Uses an action in the root directory
        with:
          command-line: 'pwsh'
          args: '-command;Start-Sleep -Seconds 2'
          workflow: ${{ github.WORKFLOW }}
          max-Runs: 7
          max-time-seconds: 10
          detail-level: 2
